{% extends 'layouts/default.twig' %}
{% block title %}Home{% endblock %}
{% block content %}    
<body class="search-body">
{{ include('user/blocks/folow-panel.twig') }}
<div class="container-fluid ">
    <div class="d-flex align-items-start flex-wrap">
        {{ include('user/blocks/header.twig') }}
        {{ include('user/blocks/min-profile-card.twig') }}
        <div class="tweet-conteiner col-12 col-md-7 col-xl-4">
            {{ include('user/blocks/tweet-form.twig') }}
        </div>
        {{ include('user/blocks/right-side-panel.twig') }}
        {{ include('user/blocks/footer-bird.twig') }}
{% endblock %}
